.email-item-wrapper {
  border: 1px solid #cfd2dc;
  border-radius: 8px;
  padding: 12px 32px;
  display: flex;
  column-gap: 16px;
  background-color: white;
  color: var(--text);
  cursor: pointer;
}

.email-item-wrapper.email-open-state .email-item-info {
  font-size: 16px;
  line-height: 20px;
}

.email-item-wrapper:last-of-type {
  margin-bottom: 200px;
}

.email-item-info {
  font-size: 18px;
  line-height: 22px;
  width: max-content;
}

.email-item-from,
.email-item-subject {
  font-weight: 600;
  width: fit-content;
  display: inline-block;
}

.email-item-summary {
  font-size: 14px;
  font-weight: 400;
}

.email-item-summary p {
  margin: 8px 0;
}
