.email-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.email-list-content {
  display: flex;
  height: 100%;
}

.email-listing {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 32px 100px;
  background-color: var(--bg-gray);
  flex: 1;
  height: 100%;
  overflow: auto;
}

.email-body-section {
  flex: 2;
  padding: 32px 32px 0;
  overflow: hidden;
  background-color: var(--bg-gray);
}
