@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

:root {
  --text: #636363;
}
