@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

:root {
  --text: #636363;
  --accent: #e54065;
  --bg-gray: #f4f5f9;
  --filter-item-bg: #e1e4ea;
}

.full-width-view {
  width: 100%;
}

.full-height-view {
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
